<table>
  <thead>
    <th>Valor</th>
    <% labels.each do |position| %>
      <th>Posición <%= position  %></th>
    <% end %>
  </thead>
  <tbody>
    <% datasets.each do |value, data| %>
      <tr>
        <td> <%= value %> </td>
        <td> <%=data%>(<%= results.answers_percentage(data) %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>
