<div class="survey-results-wrapper">
  <div class="row columns">
    <h2 class="section-heading"><%= translated_attribute @questionnaire.title %></h2>
    <%= render partial: "question", locals: { questions: @questions } %>
  </div>
</div>
